footer.footer
	.footer__row
		img.footer--logo(src='./img/logo.svg', width='160', height='17', alt='')
		.footer__nav
			a(href='javascript:void(0);') О сервисе
			a(href='javascript:void(0);') Функции
			a(href='javascript:void(0);') Возможности
			a(href='javascript:void(0);') Специалистам
			a(href='tel:+78005004549') 88005004549
	span.footer--author Разработка сайта #[a(href='https://redsoft.ru/', target='_blank') Redsoft]