header.header
	.header__row
		a.header__logo(href='javascript:void(0);')
			img.header__logo--pic(src='./img/logo.svg', width='220', height='23', alt='')
			span.header__logo--text Программа доступного лечения
		.header__rc
			nav.nav
				a.nav--link(href='javascript:void(0);') О сервисе
				a.nav--link(href='javascript:void(0);') Функции
				a.nav--link(href='javascript:void(0);') Возможности
				a.nav--link(href='javascript:void(0);') Партнеры
			button.btn.btn_transparent Оставить заявку